.dropdown_select {
  color: black;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_pokemon_image {
  width: 220px;
  height: auto;
}

.select_pokemon_fight {
  width: 75%;
}

.pokefight_image_center {
  width: 100%;
  display: flex;
  justify-content: center;
  
}