.home-pkm-logo {
  width: 250px;
  margin-left: 75px;
}

.home-menu {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  padding-bottom: 20px;

  z-index: 2;

  width: 26em;
  height: 13em;
  background-image: url(../../assets/home-img/home-bg-gif.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.elt1 {
  font-family: "pokmon";
}

@font-face {
  font-family: "pokmon";
  src: url(../../assets/pokmon/Pokemon-Solid.ttf) format("truetype");
}

.poke-home-link {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  height: 80px;
  width: 25rem;
  background: linear-gradient(0.5turn, #194783, #2175a1);
  margin: 0.5rem;
  word-wrap: break-word;
  z-index: 3;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5);
}

.poke-home-link p {
  font-family: "pokmon";
  padding-left: 30px;
  text-align: center;
  letter-spacing: 0.3rem;
}

.poke-home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
  width: 100px;
  height: 100%;
  border-right: 3px solid yellow;
  border-radius: 2rem 0 0 2rem;
  box-shadow: inset 0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5);
}

.menu-button {
  width: 44px;
}
