.screen {
  background-image: url(../../assets/home-img/home-bg-gif.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-pkm-logo {
  width: 250px;
  margin-top: -16px;
}

.home-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 26em;
  height: 13em;
}

.pokedex-btn {
  height: 90px;
  cursor: pointer;
}

.elt1 {
  font-family: "pokmon";
}

@font-face {
  font-family: "pokmon";
  src: url(../../assets/pokmon/Pokemon-Solid.ttf) format("truetype");
}

.poke-home-link {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  height: 80px;
  width: 25rem;
  background: linear-gradient(0.5turn, #194783, #2175a1);
  margin: 0.5rem;
  word-wrap: break-word;
  z-index: 3;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5);
}

.poke-home-link p {
  font-family: "pokmon";
  padding: 30px 30px 30px 30px;
  text-align: center;
  letter-spacing: 0.3rem;
}
