label {
  color: white;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 22px;
}

.poke-fight-hp-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-fight-hp-bar meter {
  height: 35px;
  width: 190px;
}

meter::-webkit-meter-bar {
  background: #eee;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
}
