.pokefight_container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-template-rows: 1.1fr 0.6fr 1.3fr 0.7fr 1.3fr;
  gap: 0px 0px;
  background-image: url("https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/12/02/6a13488e/trainer_battles_arena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-auto-flow: row;
  grid-template-areas:
    "pokefight_hp_bar_user pokefight_result pokefight_hp_bar_random"
    ". . pokefight_random_pokemon"
    "pokefight_user_pokemon pokefight_button pokefight_random_pokemon"
    "pokefight_user_pokemon pokefight_button pokefight_random_pokemon"
    "pokefight_user_pokemon . pokefight_random_pokemon";
}

.pokefight_hp_bar_user {
  grid-area: pokefight_hp_bar_user;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pokefight_hp_bar_random {
  grid-area: pokefight_hp_bar_random;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pokefight_user_pokemon {
  grid-area: pokefight_user_pokemon;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}


.pokefight_result {
  grid-area: pokefight_result;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c5b613;
  font-weight: bold;
  text-shadow: -2px -2px 0 #194783, 2px -2px 0 #194783, -2px 2px 0 #194783,
    2px 2px 0 #194783;
}

.pokefight_random_pokemon {
  grid-area: pokefight_random_pokemon;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.pokefight_button {
  grid-area: pokefight_button;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .pokefight_new_fight_button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #242424;
  margin-left: 10px;
} */

.pokefight_fightbtn {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #242424;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  width: 200px;
}

.pokefight_fightbtn:hover {
  background-color: #c33726;
}

.pokefight_selectpokemon_btn {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
}

.pokefight_random_pokemon_img {
  width: 180px;
  height: auto;
  aspect-ratio: 1;
}

.pokefight_button button:disabled {
  background-color: #9b9b9b;
}

.user_pokemon_top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user_pokemon_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-pokemon-message {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.turn_alert {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  animation-name: activePlayer;
  animation-duration: 2s;
}

@keyframes activePlayer {
  from {
    font-size: 1px;
  }
  to {
    font-size: 24px;
  }
}

.turn_alert p {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
