/* @font-face {
  font-family: "pokmon";
  src: url(../pokmon/Pokemon-Solid.ttf) format("truetype");
} */

.pokeList_Background {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/pokedex-background.jpg");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poke-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52rem;
  flex-wrap: wrap;
  position: absolute;
  height: 26rem;
}

.poke-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
  width: 100px;
  height: 100%;
  border-right: 3px solid yellow;
  border-radius: 2rem 0 0 2rem;
  box-shadow: inset 0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5);
}

.poke-list-link {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  height: 75px;
  width: 24rem;
  background: linear-gradient(0.5turn, #194783, #2175a1);
  margin: 0.5rem;
  word-wrap: break-word;
  z-index: 3;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5);
}

.poke-list-link p {
  /* font-family: "pokmon"; */
  padding: 30px 30px 30px 30px;
  text-align: center;
  letter-spacing: 0.3rem;
}

.poke-list-link:hover {
  background-color: blue;
}

.poke-list-link img {
  height: 80px;
  padding-left: 12px;
}

h1 {
  color: black;
}
