.pokefight_container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-template-rows: 1.1fr 0.6fr 1.3fr 0.7fr 1.3fr;
  gap: 0px 0px;
  background-image: url("https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/12/02/6a13488e/trainer_battles_arena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-auto-flow: row;
  grid-template-areas:
    ". . pokefight_random_pokemon"
    ". pokefight_button pokefight_random_pokemon"
    "pokefight_user_pokemon pokefight_button pokefight_random_pokemon"
    "pokefight_user_pokemon pokefight_button pokefight_random_pokemon"
    "pokefight_user_pokemon . .";
}

.pokefight_user_pokemon {
  grid-area: pokefight_user_pokemon;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.pokefight_random_pokemon {
  grid-area: pokefight_random_pokemon;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pokefight_button {
  grid-area: pokefight_button;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .pokefight_new_fight_button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #242424;
  margin-left: 10px;
} */

.pokefight_fightbtn {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #242424;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  width: 200px;
}

.pokefight_fightbtn:hover {
  background-color: #c33726;
}

.pokefight_selectpokemon_btn {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
}

.pokefight_random_pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokefight_random_pokemon_img {
  width: 220px;
  height: auto;
  aspect-ratio: 1;
}

.user_pokemon_top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user_pokemon_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}